<mat-toolbar color="primary">
    <div class="container d-flex">
      <h1 class="m-0 me-5">Cine Metrópole III</h1>
      <button mat-raised-button color="accent" routerLink='/filmes/listaFilmes'>
        Lista Filmes
      </button>
      <button class="mx-3" mat-raised-button color="accent" routerLink='filmes/addFilme'>
        Cadastrar Filme
      </button>
    
      <button mat-flat-button color="accent" routerLink="login">
        Login
      </button>

      <button (click)="logout()" class="mx-3" mat-flat-button color="accent">
        Logout
      </button>
      
    </div>
    </mat-toolbar>
