<div class="container">
  <h2 class="my-2">Adicionar Filme</h2>
  <hr>
  <div class="">
    <form class="d-flex flex-column" [formGroup]="filmeForm" (ngSubmit)="editMode ? updateFilme() : createFilme()">
      <mat-form-field>
        <mat-label>Título:</mat-label>
        <input matInput formControlName="titulo" required>
        <mat-error>Campo Obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sinopse:</mat-label>
        <textarea matInput formControlName="sinopse"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Imagem:</mat-label>
        <input matInput formControlName="imagem">
      </mat-form-field>
      
      <div class="d-flex justify-content-between">
        <button mat-raised-button color="basic" routerLink="/listaFilmes" type="reset">Voltar</button>
        
        <button mat-raised-button color="primary" type="submit" 
        [disabled]="filmeForm.invalid || filmeForm.pristine"
        >{{ editMode ? "Atualizar" : "Cadastrar" }}</button>
      </div>
    </form>
  </div>
    
</div>
    